/* realiza tus estilos aqui */

.efects{
  transform-style: preserve-3d;
transition: 2s; 
}

.rotation-efect{
transform: rotateY(180deg);
}

main{
  border: 1px solid black;
  width: 90%;
  height: 90%;
  overflow: auto;
}
span{
  position: relative;
  background: #fff;
  font-size: 35px;
  top: 161px;
}

.card{
  border: 2px solid black;
  width: 20%;
  height: 200px;
  margin: 1% 4%;
  /* display: inline-block; */
  background-image: url("../assets/image/logo-lab.png");
  /* background-position: center; */
  background-size: cover;
  float: left;
  transform-style: preserve-3d;
  /* transition: 2s; */
}

.selfie:hover{
  background-image: url("../assets/image/imagen1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tacos:hover{
  background-image: url("../assets/image/imagen2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.scarlett:hover{
  background-image: url("../assets/image/imagen3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* transform: rotateY(180deg);  */
}

.galletas:hover{
  background-image: url("../assets/image/imagen4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.viernes:hover{
  background-image: url("../assets/image/imagen5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card:hover{
  cursor: pointer;
}

.icono{
  float: left;
  background: blue;  
}

.fondo{
  background: blue;
  color: white;
}